body, html{
    height: 100%;
}

.card{
    min-height: 100%;
    position: relative;
} 

div.card{
    padding-top: 20px;
    padding-bottom: 100px;
}

.card-footer{
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
}